<div class="d-flex mt-5 ml-3">
    <%= link_to 'BACK', book_path(@page.book_id), class: 'btn btn-light mr-3' %>
    <h2 class="book-title mr-3"><strong><%= @page.name %></strong></h2>
    <p>(<%= @page.words.count %> words)</p>
</div>

<%= render 'public/shared/errors_show', model: @word %>

<%= render 'public/shared/flash_show' %>

<%= form_with model: @word, url: words_path, method: :post do |f| %>
<div class="container mt-3">
    <div class="row mx-auto mt-2">
        <div class="col-8">
            <% @words.each do |word| %>
            <div class="d-flex mt-4">
                <h2 class="mr-3">
                    <% if word.user == current_user %>
                        <%= link_to word.name, edit_word_path(word.id), class: 'links' %>
                    <% else %>
                        <%= word.name %>
                    <% end %>
                </h2>
                <% if word.form %>
                    <p class="mr-3">[<%= word.form %>]</p>
                <% end %>
                <% if word.user == current_user %>
                    <% if word.is_learnt == false %>
                        <%= link_to update_word_status_path(word.id), method: :patch do %>
                            <i class="fa-regular fa-circle-check mr-2"></i>
                        <% end %>
                    <% elsif word.is_learnt == true %>
                        <%= link_to update_word_status_path(word.id), method: :patch do %>
                            <i class="fa-solid fa-circle-check mr-2"></i>
                        <% end %>
                    <% end %>
                    <%= link_to word_path(word.id), method: :delete, data: {confirm: 'Are you sure you want to delete the WORD?'} do %>
                        <i class="fa-solid fa-trash-can"></i>
                    <% end %>
                <% end %>
            </div>
                <% if word.meanings %>
                    <% word.meanings.each do |meaning| %>
                        <p class="text-navy"><%= meaning.content %></p>
                    <% end %>
                <% end %>
                <% if word.examples %>
                    <% word.examples.each do |example| %>
                        <p class="text-navy"><%= example.sentence %></p>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <% if @page.book.user == current_user %>
        <div class="col-3 ml-auto">
            <div class="new-word-container">
                <div>
                    <%= f.label :name, 'WORD', class: 'text-secondary' %><br>
                    <%= f.text_field :name, class: 'col-12 word-field' %>
                </div>
                <div>
                    <%= f.label :form, 'WORD FORM', class: 'mt-2 text-secondary' %><br>
                    <span class="text-secondary"><%= f.select :form, Word.forms.keys.to_a, include_blank: "not selected" %></span>
                </div>
                <div class="mt-3">
                    <%= link_to_add_association '+ ADD MEANINGS', f, :meanings,
                        data: {association_insertion_method: 'append' }, class: 'links text-secondary' %>
                    <%= f.fields_for :meanings do |meaning| %>
                        <%= render "meaning_fields", f: meaning %>
                    <% end %>
                </div>
                <div>
                    <%= link_to_add_association '+ ADD EXAMPLES', f, :examples,
                        data: {association_insertion_method: 'append' }, class: 'links text-secondary' %>
                    <%= f.fields_for :examples do |example| %>
                        <%= render "example_fields", f: example %>
                    <% end %>
                </div>
                <%= f.hidden_field :page_id, :value => @page.id %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <div class="text-center">
                    <%= f.submit 'ADD!', class: 'col-4 mt-3 btn btn-navy' %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
<% end %>