<%= form_with model: @word, url: words_path, method: :post do |f| %>
<div>
    <%= link_to 'BACK', book_path(@page.book_id) %>
    <h2><%= @page.name %></h2>
    <p>(<%= @page.words.count %> words)</p>
    <div>
        <div>
            <%= f.label :name, 'word' %><br>
            <%= f.text_field :name %>
        </div>
        <div>
            <%= f.label :form, 'word form' %><br>
            <%= f.select :form, Word.forms.keys.to_a, include_blank: "not selected" %>
        </div>
        <div>
            <%= link_to_add_association 'ADD MEANINGS', f, :meanings,
                data: {association_insertion_method: 'append' } %>
            <%= f.fields_for :meanings do |meaning| %>
                <%= render "meaning_fields", f: meaning %>
            <% end %>
        </div>
        <div>
            <%= link_to_add_association 'ADD EXAMPLES', f, :examples,
                data: {association_insertion_method: 'append' } %>
            <%= f.fields_for :examples do |example| %>
                <%= render "example_fields", f: example %>
            <% end %>
        </div>
        <%= f.hidden_field :page_id, :value => @page.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit 'ADD!' %>
    </div>
    <div>
        <% @words.each do |word| %>
            <h3><%= link_to word.name, edit_word_path(word.id) %></h3>
            <% if word.form %>
                <p>[<%= word.form %>]</p>
            <% end %>
            <% if word.meanings %>
                <% word.meanings.each do |meaning| %>
                    <p><%= meaning.content %></p>
                <% end %>
            <% end %>
            <% if word.examples %>
                <% word.examples.each do |example| %>
                    <p><%= example.sentence %></p>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>
<% end %>