<%= form_with model: @word, url: word_path(@word.id), method: :patch do |f| %>
<div>
    <%= link_to 'BACK', page_path(@word.page_id) %>
    <div>
        <h2><%= f.label :name, 'WORD:' %></h2>
        <h2><%= f.text_field :name %></h2>
        <%= f.label :form, 'WORD FORM' %>
        <%= f.select :form, Word.forms.keys.to_a, include_blank: "not selected" %>
    </div>
    <div>
        <h2>MEANINGS:</h2>
        <div>
            <%= link_to_add_association 'ADD', f, :meanings,
            data: {association_insertion_method: 'append' } %>
            <%= f.fields_for :meanings do |meaning| %>
                <%= render "meaning_fields", f: meaning %>
            <% end %>
        </div>
    </div>
    <div>
        <h2>EXAMPLES:</h2>
        <div>
            <%= link_to_add_association 'ADD', f, :examples,
            data: {association_insertion_method: 'append' } %>
            <%= f.fields_for :examples do |example| %>
                <%= render "example_fields", f: example %>
            <% end %>
        </div>
    </div>
    <%= f.submit 'UPDATE!' %>
</div>
<% end %>