<div class="d-flex mt-5 ml-3">
    <%= link_to '<< CANCEL', page_path(@word.page_id), class: 'btn btn-light mr-3', style: 'height: 38px;' %>
    <h2>Edit WORD :</h2>
</div>

<%= render 'public/shared/flash_show' %>

<%= form_with model: @word, url: word_path(@word.id), method: :patch do |f| %>
<div class="container col-9 mx-auto mt-5">
    <div class="row">
        <div class="col-6 d-flex">
            <h4><%= f.label :name, 'WORD :', class: 'mr-3' %></h4>
            <%= f.text_field :name, class: 'word-field mr-4' %>
        </div>
        <div class="col-6 d-flex">
            <h4><%= f.label :form, 'WORD FORM :', class: 'mr-3' %></h4>
            <%= f.select :form, Word.forms.keys.to_a, include_blank: "not selected" %>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <h4>MEANINGS :</h4>
            <div>
                <%= link_to_add_association 'ADD', f, :meanings,
                data: {association_insertion_method: 'append' } %>
                <%= f.fields_for :meanings do |meaning| %>
                    <%= render "meaning_fields", f: meaning %>
                <% end %>
            </div>
        </div>
        <div class="col-6">
            <h4>EXAMPLES :</h4>
            <div>
                <%= link_to_add_association 'ADD', f, :examples,
                data: {association_insertion_method: 'append' } %>
                <%= f.fields_for :examples do |example| %>
                    <%= render "example_fields", f: example %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-4 mt-4 mx-auto">
        <%= f.submit 'UPDATE!', class: 'col-12 btn btn-blue' %>
    </div>
</div>
<% end %>