<div class="container mt-5">
    <div class="d-flex">
        <h2 class="mr-3">DICTIONARY INDEX:</h2>
        <!--<div class="ml-auto mt-4">-->
        <!--    <%= form_tag do %>-->
        <!--        <%= text_field_tag :search %>-->
        <!--        <%= submit_tag 'SEARCH', class: 'btn btn-blue ml-1 pt-0 pb-0' %>-->
        <!--    <% end %>-->
        <!--</div>-->
    </div>
    <div class="mt-3 word-list-container">
        <div class="word-list-group word-list-group-left">
            <ul class="word-list">
                <li class="index">- A</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('A', 'a') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- B</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('B', 'b') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- C</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('C', 'c') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- D</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('D', 'd') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- E</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('E', 'e') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- F</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('F', 'f') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
            </ul>
            <ul class="word-list">
                <li class="index">- G</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('G', 'g') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- H</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('H', 'h') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- I</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('I', 'i') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- J</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('J', 'j') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- K</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('K', 'k') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- L</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('L', 'l') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
            </ul>
        </div>
        <div class="word-list-group word-list-group-right">
            <ul class="word-list">
                <li class="index">- M</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('M', 'm') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- N</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('N', 'n') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- O</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('O', 'o') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- P</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('P', 'p') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- Q</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('Q', 'q') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- R</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('R', 'r') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- S</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('S', 's') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- T</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('T', 't') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
            </ul>
            <ul class="word-list">
                <li class="index">- U</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('U', 'u') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- V</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('V', 'v') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- W</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('W', 'w') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- S</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('X', 'x') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- Y</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('Y', 'y') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
                <li class="index">- Z</li>
                <% @words.each do |word| %>
                    <% if word.name.start_with?('Z', 'z') %>
                        <%= link_to word.name, word_path(word.id), class: 'link-style word-link' %><br>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>
</div>