<p class="notice mt-5 ml-3"><%= notice %></p>

<div class="container mt-5">
    <div class="d-inline border border-light mb-3 px-2 pt-1 pb-1">
        <i class="fa-sharp fa-solid fa-pen-nib"></i>
        <strong><%= pluralize(@columns.count, "post") %> </strong>
    </div>
    <div class="row">
        <div class="col-9">
            <% @columns.each do |column| %>
            <div class="column-container mt-3 mb-5">
                <div class="d-flex">
                    <h1 class="mr-4"><%= link_to column.title, edit_admin_column_path(column.id) %></h1>
                    <div class="topic-tag">
                        <i class="fa-sharp fa-solid fa-tag mr-2"></i>
                        <%= link_to column.topic.name, admin_top_path(topic_id: column.topic_id), method: :get, class: 'links' %>
                    </div>
                    <div class="ml-auto">
                        <%= form_with model: column, url: update_column_status_path(column.id), method: :patch do |f| %>
                            <% if column.is_public == true %>
                                <%= f.hidden_field :is_public, :value => false %>
                                <%= f.submit 'PUBLIC', class: 'btn btn-navy' %>
                            <% elsif column.is_public == false %>
                                <%= f.hidden_field :is_public, :value => true %>
                                <%= f.submit 'HIDDEN', class: 'btn btn-secondary' %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="mt-2">
                    <%= column.article %>
                </div>
                <div>
                    <p class="mt-4"><strong class="mr-2">Written by: </strong><%= column.writer %></p>
                    <div class="d-flex ml-auto">
                        <p class="mr-2"><strong>Created at: </strong><%= column.created_at.strftime('%m/%d/%y %H:%M')%></p>
                        <p><strong>Updated at: </strong><%= column.updated_at.strftime('%m/%d/%y %H:%M')%></p>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
        <div class="col-3">
            <div class="col-10 topic-sidebar ml-auto">
                <h3 class="mb-3"><i class="fa-sharp fa-solid fa-tags mr-2"></i>TOPICS</h3>
                <ul>
                    <% @topics.each do |topic| %>
                        <%= link_to admin_top_path(topic_id: topic.id), method: :get, class: 'col-12 mb-2 btn btn-blue text-light border border-light' do %>
                            <%= topic.name %> (<%= topic.columns.count %>)
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>
 