<div class="col-11 mx-auto mt-3">
  <%= render "public/shared/error_messages", resource: resource %>
</div>
<div class="col-5 mx-auto mt-5">
  
  <h2>SIGN UP</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
  
  <table>
    <tbody>
      <tr>
        <th><%= f.label :nickname, "NICKNAME" %></th>
        <td><%= f.text_field :nickname, autofocus: true, class:'col-12 field-style' %></td>
      </tr>
      <tr>
        <th><%= f.label :login_id, "LOGIN ID" %></th>
        <td><%= f.text_field :login_id, class:'col-12 field-style' %></td>
      </tr>
      <tr>
        <th><%= f.label :note, "NOTE" %></th>
        <td><%= f.text_field :note, class:'col-12 field-style' %></td>
      </tr>
      <tr>
        <th><%= f.label :email, "EMAIL" %></th>
        <td><%= f.email_field :email, autocomplete: "email", class:'col-12 field-style' %></td>
      </tr>
      <tr>
        <th>
          <%= f.label :password, "PASSWORD" %>
          <% if @minimum_password_length %>
          <p>(<%= @minimum_password_length %> CHARACTERS MINIMUM)</p>
          <% end %>
        </th>
        <td><%= f.password_field :password, autocomplete: "new-password", class:'col-12 field-style' %></td>
      </tr>
      <tr>
        <th><%= f.label :password_confirmation, "PASSWORD CONFIRMATION" %></th>
        <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class:'col-12 field-style' %></td>
      </tr>
      <tr>
        <th colspan="1"></th>
        <td><%= f.submit "SIGN UP", class: 'col-8 btn btn-navy mt-4' %></td>
      </tr>
    </tbody>
  </table>
  <% end %>
  <div class="text-center mt-4">
    <%= render "public/shared/links" %>
  </div>

</div>