<div class="col-11 mx-auto mt-3">
    <%= render 'public/shared/errors_show', model: @column %>
</div>
<div class="col-11 mt-3 ml-5">
<% if flash[:danger] %>
    <div class="error-container">
        <strong class="text-danger">
            <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
            <%= flash[:danger] %>
        </strong>
    </div>
<% elsif flash[:success] %>
    <div class="error-container">
        <strong class="text-green">
            <i class="fa-sharp fa-solid fa-circle-check"></i>
            <%= flash[:success] %>
        </strong>
    </div>
<% end %>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-9">
            <div class="column-container">
            <%= form_with model: @column, url: admin_column_path(@column.id), method: :patch do |f| %>
                <div class="d-flex justify-content-between">
                    <h1>
                        <%= f.label :title, 'TITLE :' %>
                        <%= f.text_field :title, class: 'fields border border-dark' %>
                    </h1>
                    <div>
                        <strong><%= f.label :topic_id, 'TOPIC :' %></strong>
                        <%= f.collection_select :topic_id, Topic.all.order(created_at: :desc), :id, :name, include_blank: "not selected" %><br>
                    </div>
                </div>
                <div>
                    <%= f.text_area :article, class: 'col-12 column-field fields mt-3 mb-3 border border-dark' %><br>
                </div>
                <strong><%= f.label :writer, 'WRITER :' %></strong>
                <%= f.text_field :writer, class: 'fields border border-dark mb-3' %><br>
                <%= f.radio_button :is_public, true %>
                <%= f.label :is_public, 'PUBLIC', value: true, class: 'mr-3 mb-3' %>
                <%= f.radio_button :is_public, false %>
                <%= f.label :is_public, 'HIDDEN', value: false %><br>
                <div class="text-center">
                    <%= f.submit 'UPDATE !', class: 'col-4 btn btn-navy mb-4' %> <br>
                    <%= link_to 'DELETE', admin_column_path(@column.id), method: :delete, data: {confirm: 'Are you sure you want to delete the COLUMN?' }, class: 'col-4 btn btn-secondary' %>
                </div>
            <% end %>
            </div>
        </div>
        <div class="col-3">
            <div class="col-10 topic-sidebar ml-auto">
                <div class="text-right">
                    <%= link_to edit_topics_path, method: :get do %>
                        <i class="fa-sharp fa-solid fa-gear text-secondary"></i>
                    <% end %>
                </div>
                <h3><i class="fa-sharp fa-solid fa-tags mr-2"></i>TOPICS</h3>
                <div>
                    <%= form_with model: @topic, url: admin_topics_path, method: :post, class: 'row justify-content-center mt-3 mb-3' do |f| %>
                        <%= f.text_field :name, class: 'col-7 fields text-left' %>
                        <%= button_tag type: "submit", class: "col-3 btn btn-default" do %>
                            <i class="fa-sharp fa-solid fa-circle-plus ml-auto"></i>
                        <% end %>
                    <% end %>
                </div>
                <ul>
                    <% @topics.each do |topic| %>
                        <%= link_to admin_top_path(topic_id: topic.id), method: :get, class: 'col-12 mb-2 btn btn-blue text-light border border-light' do %>
                            <%= topic.name %> (<%= topic.columns.count %>)
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>

<div>
    
</div>
