<%= render 'public/shared/flash_show' %>

<div class="col-lg-11 mt-5 px-2 mx-auto">
    <div class="d-md-flex flex-row-reverse">
        <div class="col-md-3 px-0 mx-auto mt-md-2">
            <div class="col-md-12 col-lg-10 topic-sidebar mx-0 mx-lg-auto">
                <div class="text-right">
                    <%= link_to edit_topics_path, method: :get do %>
                        <i class="fa-sharp fa-solid fa-gear text-secondary"></i>
                    <% end %>
                </div>
                <h2><i class="fa-sharp fa-solid fa-tags mr-2"></i>TOPICS</h2>
                <div>
                    <%= form_with model: @topic, url: admin_topics_path, method: :post, class: 'row justify-content-center mt-3 mb-3' do |f| %>
                        <%= f.text_field :name, class: 'col-7 field-style' %>
                        <%= button_tag type: "submit", class: "col-3 btn btn-default" do %>
                            <i class="fa-sharp fa-solid fa-circle-plus ml-auto"></i>
                        <% end %>
                    <% end %>
                </div>
                <ul>
                    <% @topics.each do |topic| %>
                        <%= link_to admin_top_path(topic_id: topic.id), method: :get, class: 'col-12 mb-2 btn btn-blue text-light border border-light' do %>
                            <%= topic.name %> (<%= topic.columns.count %>)
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
        <div class="col-md-9 px-0 px-md-3 mt-3 mt-md-0">
            <div class="column-container p-md-4">
            <%= form_with model: @column, url: admin_columns_path, method: :post do |f| %>
                <div class="d-lg-flex justify-content-between">
                    <h1>
                        <%= f.label :title, 'TITLE :' %>
                        <%= f.text_field :title, class: 'field-style border border-dark' %>
                    </h1>
                    <div>
                        <strong><%= f.label :topic_id, 'TOPIC :' %></strong>
                        <%= f.collection_select :topic_id, Topic.all, :id, :name, include_blank: "not selected" %><br>
                    </div>
                </div>
                <div>
                    <%= f.text_area :article, class: 'col-12 column-field field-style mt-3 mb-3 border border-dark text-left' %><br>
                </div>
                <strong><%= f.label :writer, 'WRITER :' %></strong>
                <%= f.text_field :writer, class: 'field-style border border-dark mb-3' %><br>
                <%= f.radio_button :is_public, true %>
                <%= f.label :is_public, 'PUBLIC', value: true, class: 'mr-3 mb-3' %>
                <%= f.radio_button :is_public, false %>
                <%= f.label :is_public, 'HIDDEN', value: false %><br>
                <div class="text-center">
                    <%= f.submit 'POST !', class: 'col-4 btn btn-navy' %> 
                </div>
            <% end %>
            </div>
        </div>
    </div>
</div>
