<div>
    <h2>USERS:</h2>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NICKNAME</th>
                    <th>LOG IN ID</th>
                    <th>EMAIL</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% @users.each do |user| %>
                        <td><%= user.id %></td>
                        <td><%= link_to user.nickname, root_path %></td>
                        <td>@<%= user.login_id %></td>
                        <td><%= user.email %></td>
                        <td>
                            <%= form_with model: user, url: admin_user_path(user.id), method: :patch do |f| %>
                                <% if user.is_deleted == false %>
                                    <%= f.hidden_field :is_deleted, :value => true %>
                                    <%= f.submit 'ACTIVE' %>
                                <% elsif user.is_deleted == true %>
                                    <%= f.hidden_field :is_deleted, :value => false %>
                                    <%= f.submit 'DELETED' %>
                                <% end %>
                            <% end %>
                        </td>
                    <% end %>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>