<%= link_to '<< BACK', books_path, class: 'btn btn-light mt-3 ml-3' %>
<div class="col-11 mt-3 ml-5">
<% if flash[:danger] %>
    <div class="error-container">
        <strong class="text-danger">
            <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
            <%= flash[:danger] %>
        </strong>
    </div>
<% elsif flash[:success] %>
    <div class="error-container">
        <strong class="text-green">
            <i class="fa-sharp fa-solid fa-circle-check"></i>
            <%= flash[:success] %>
        </strong>
    </div>
<% elsif flash[:notice] %>
    <div class="flash-container">
        <strong class="text-secondary" >
            <i class="fa-sharp fa-solid fa-bolt-lightning mr-1"></i>
            <%= flash[:notice] %>
        </strong>
    </div>
<% end %>
</div>
<div class="col-6 mx-auto mt-4">
    <h2 class="mb-4">Edit BOOKS :</h2>
    <div>
        <% @books.each do |book| %>
            <%= form_with model: book, url: book_path(book.id), method: :patch do |f| %>
                <h5>
                    <%= f.text_field :name, class: 'book-field fields' %>
                    <%= f.submit 'UPDATE !', class: 'btn btn-navy mr-5' %>
                    <% if book.is_private == true %>
                        <%= link_to 'PRIVATE', update_book_status_path(book.id), method: :patch, class: 'btn btn-pink mr-2' %>
                    <% elsif book.is_private == false %>
                        <%= link_to 'PUBLIC', update_book_status_path(book.id), method: :patch, class: 'btn btn-green mr-3' %>
                    <% end %>
                    <%= link_to 'DELETE', book_path(book.id), method: :delete, data: {confirm: 'Are you sure you want to delete the BOOK?' }, class: 'btn btn-secondary' %>
                </h5>
            <% end %>
        <% end %>
    </div>
</div>