
<%= render 'public/shared/flash_show' %>

<div class="col-8 mx-auto mt-5">
    <div class="col-12 d-flex mt-5 mb-4">
        <%= link_to '<< BACK', new_book_path, class: 'btn btn-light ml-3 mr-4', style: 'height: 38px;' %>
        <h2>Edit BOOKS :</h2>
    </div>
    <div class="col-9 mx-auto">
        <% @books.each do |book| %>
            <%= form_with model: book, url: book_path(book.id), method: :patch do |f| %>
                <h5>
                    <%= f.text_field :name, class: 'book-field field-style mr-2' %>
                    <%= f.submit 'UPDATE !', class: 'btn btn-navy mr-5' %>
                    <% if book.is_private == true %>
                        <%= link_to 'PRIVATE', update_book_status_path(book.id), method: :patch, class: 'btn btn-pink mr-2' %>
                    <% elsif book.is_private == false %>
                        <%= link_to 'PUBLIC', update_book_status_path(book.id), method: :patch, class: 'btn btn-green mr-3' %>
                    <% end %>
                    <%= link_to 'DELETE', book_path(book.id), method: :delete, data: {confirm: 'Are you sure you want to delete the BOOK?' }, class: 'btn btn-secondary' %>
                </h5>
            <% end %>
        <% end %>
    </div>
</div>