</div>
<div class="mt-5 ml-4">
    <h2>FIND A BOOK: </h2>
    <div class="ml-5">
        <%= search_form_for @q do |f| %>
            <%= f.label :name_cont %>
            <%= f.search_field :name_cont %>
         
            <%= f.submit %>
        <% end %>
    </div>
</div>


<div class="container mt-2">
    <div class="row col-12 mx-auto">
        <div class="col-6">
            <h4>BOOKS:</h4>
            <div class="mt-4">
                <% @books.each do |book| %>
                    <% unless book.user.email == 'guest@example.com' %>
                        <%= link_to book.name, books_path(id: book.id), class: 'col-8 mb-2 btn btn-navy mr-2' %>
                        <%= 'by @' %><%= book.user.login_id %><br>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="col-6">
            <h4>
                PAGES of:
                <% if params[:id] && @book.is_private == false %>
                    <%= @book.name %>
                <% end %>
            </h4>
            <% if params[:id] && @book.is_private == false%>
            <div class="mt-4">
                <% @pages.each do |page| %>
                    <%= link_to page.name, page_path(page.id), class: 'col-12 mb-2 btn btn-blue' %><br>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
    <div class="col-3 mx-auto mt-3">
        <% if params[:id] %>
        <%= link_to "GO CHECK THIS BOOK!", book_path(@book.id), class: 'col-12 btn btn-light' %>
        <% end %>
    </div>
</div>