<%= render 'public/shared/flash_show' %>

<%= form_with model: @new_book, url: books_path, method: :post do |f| %>
<div class="container pt-3 pt-lg-5">
    <div class="col-12 col-sm-11 mx-auto d-lg-flex justify-content-between mb-4 px-0">
        <h3 class="mb-2 mb-lg-0">CREATE NEW BOOK:</h3>
        <%= f.text_field :name, class: 'col-lg-4 mb-2 mb-md-3 mb-lg-0 field-style new-book-field' %>
        <div class="create-gears-box col-lg-4 d-flex justify-content-between px-0">
            <%= f.submit 'CREATE', class: 'col-9 mr-1 btn btn-light' %>
            <div class="fa-gears-box col-3 text-center px-0">
                <%= link_to edit_books_path, method: :get do %>
                    <i class="fa-sharp fa-solid fa-gears btn text-light"></i>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-11 col-sm-5 mx-auto px-0">
            <h3>BOOKS:</h3>
            <div class="mt-4">
                <% @books.each do |book| %>
                    <%= link_to book.name.truncate(28), new_book_path(id: book.id), class: 'col-12 mb-2 btn btn-navy' %><br>
                <% end %>
            </div>
        </div>
        <div class="newbook-pages col-6 offset-md-1">
            <h3>
                PAGES of:
                <% if params[:id] %>
                    <%= @book.name.truncate(38) %>
                <% end %>
            </h3>
            <% if params[:id] %>
            <div class="mt-4">
                <% @pages.each do |page| %>
                    <%= link_to page.name, page_path(page.id), class: 'col-12 mb-2 btn btn-blue' %><br>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
    <div class="col-sm-7 col-lg-5 mx-auto mt-3">
        <% if params[:id] %>
        <%= link_to "GO CHECK THIS BOOK !", book_path(@book.id), class: 'col-12 btn btn-light' %>
        <% end %>
    </div>
</div>
<% end %>