
<%= render 'public/shared/flash_show' %>

<%= form_with model: @new_page, url: pages_path, method: :post do |f| %>
<div class="container mt-5">
    <div class="d-flex mb-4">
        <%= link_to '<< BACK', new_book_path(@book.id), class: 'btn btn-light mr-3', style: 'height: 38px;' %>
        <h3 class="mr-5">PAGES of: <strong class="book-title ml-2"><%= @book.name %></strong></h3>
        <% if @book.user == current_user %>
            <%= f.text_field :name, class: 'col-3 mr-3 fields' %>
            <%= f.submit 'ADD NEW PAGE', class: 'btn btn-light' %>
            <%= link_to edit_pages_path(id: @book.id), method: :get do %>
                <i class="fa-sharp fa-solid fa-gears btn text-light ml-5"></i>
            <% end %>
        <% end %>
    </div>
    <div class="col-10 mx-auto d-flex flex-wrap justify-content-between">
        <% @pages.each do |page| %>
            <%= link_to page.name, page_path(page.id), class: 'col-5 mb-2 btn btn-blue' %><br>
        <% end %>
    </div>
</div>
<%= f.hidden_field :book_id, :value => @book.id %>
<% end %>