<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="col-11 col-sm-7 col-md-6 col-lg-4 mx-auto  mt-5">
  <h2>LOG IN</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, "EMAIL" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'col-12 mb-3 field-style' %>
    </div>
  
    <div class="field">
      <%= f.label :password, "PASSWORD" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'col-12 field-style' %>
    </div>
  
  
    <div class="actions text-center">
      <%= f.submit "LOG IN", class: 'col-8 btn btn-light mt-5' %>
    </div>
  <% end %>
  
  <div class="text-center mt-4">
    <%= render "public/shared/links" %>
  </div>
</div>
