<!DOCTYPE html>
<html>
  <head>
    <title>urpus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div>
          <a><span>LOGO</span></a>
          <div>
            <% if admin_signed_in? %>
            <ul>
              <li>
                <div>
                  <%= link_to "NEW POST", root_path %>
                </div>
              </li>
              <li>
                <div>
                  <%= link_to "TIMELINE", topics_path %>
                </div>
              </li>
              <li>
                <div>
                  <%= link_to "USERS", root_path %>
                </div>
              </li>
              <li>
                <div>
                  <%= link_to "SIGN OUT", destroy_admin_session_path, method: :delete %>
                </div>
              </li>
            </ul>
            <% elsif user_signed_in? %>
            <ul>
              <li>
                <div>
                  <%= link_to "MY BOOK", books_path %>
                </div>
              </li>
              <li>
                <div>
                  <%= link_to "FIND A BOOK", root_path %>
                </div>
              </li>
              <li>
                <div>
                  <%= link_to "DICTIONARY", words_path %>
                </div>
              </li>
              <li>
                <div>
                  <%= link_to "TIMELINE", root_path %>
                </div>
              </li>
              <li>
                <div>
                  <%= link_to "PROFILE IMAGE", my_page_path %>
                </div>
              </li>
            </ul>
            <% else %>
            <ul>
              <li>
                <div>
                  <%= link_to "ABOUT", about_path %>
                </div>
              </li>
              <li>
                <div>
                  <%= link_to "FIND A BOOK", root_path %>
                </div>
              </li>
              <li>
                <div>
                  <%= link_to "SIGN UP", new_user_registration_path %>
                </div>
              </li>
              <li>
                <div>
                  <%= link_to "SIGN IN", new_user_session_path %>
                </div>
              </li>
            </ul>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>©footer.text</p>
    </footer>
  </body>
</html>
