<!DOCTYPE html>
<html>
  <head>
    <title>urpus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div>
          <a><span>LOGO</span></a>
          <div>
            <ul>
              <li>
                <div>
                  <%= link_to "MY BOOK", root_path %>
                </div>
              </li>
              <li>
                <div>
                  <%= link_to "FIND A BOOK", root_path %>
                </div>
              </li>
              <li>
                <div>
                  <%= link_to "DICTIONARY", root_path %>
                </div>
              </li>
              <li>
                <div>
                  <%= link_to "TIMELINE", root_path %>
                </div>
              </li>
              <li>
                <div>
                  <%= link_to "PROFILE IMAGE", root_path %>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>©footer.text</p>
    </footer>
  </body>
</html>
